.head{
  padding-top: 50px;
}
.container{
  background-color: aliceblue ;
}

img{
height: 150px;
}
.card{
  background-color: rgb(255, 238, 249);
  width: 18rem;

margin:20px ;
}
.price{
background-color: rgb(170, 236, 236);

}
